<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section class="module-line-separator top-line">
    <div class="line-with-circles"></div>
  </section><section class="final-title-section">
    <div class="interleaved-title">
      <span class="letter green">A</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">C</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">T</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">I</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">V</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">I</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">D</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">A</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">D</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">E</span>
      <ion-icon name="leaf-outline" class="leaf-separator green"></ion-icon>
      <span class="letter green">S</span>
    </div>
  </section>
  <section class="module-line-separator bottom-line">
    <div class="line-with-circles"></div>
  </section>
</ion-content>
