<ion-header>
  <ion-toolbar>
    <ion-title>Editar Tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="saveChanges()" #editForm="ngForm" *ngIf="task">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Título de la Tarea</ion-label>
        <ion-input [(ngModel)]="task.nombre" name="nombre" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea [(ngModel)]="task.descripcion" name="descripcion" required auto-grow="true"></ion-textarea>
      </ion-item>
      <!-- NUEVO: Campo para seleccionar colaboradores -->
      <ion-item>
        <ion-label position="floating">Colaboradores</ion-label>
        <ion-select [(ngModel)]="task.colaboradores" name="colaboradores" multiple="true" placeholder="Seleccionar maestros" [compareWith]="compareCollaborators">
          <ion-select-option *ngFor="let maestro of maestros" [value]="{id: maestro.id, nombre: maestro.nombre}">
            {{ maestro.nombre }} {{ maestro.apellidos }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block" [disabled]="!editForm.valid">Guardar Cambios</ion-button>
  </form>
</ion-content>
