<ion-header>
  <ion-toolbar class="header-dark">
    <ion-title>Restablecer contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="resetPassword()" #resetForm="ngForm">
    <ion-list>
      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Matrícula</ion-label>
        <ion-input [(ngModel)]="credentials.matricula" name="matricula" required type="text"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Nueva Contraseña</ion-label>
        <ion-input [(ngModel)]="credentials.newPassword" name="newPassword" required type="password"></ion-input>
      </ion-item>
      <ion-item lines="none" class="input-item">
        <ion-label position="stacked">Confirmar Nueva Contraseña</ion-label>
        <ion-input [(ngModel)]="credentials.confirmPassword" name="confirmPassword" required type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button class="gradient-button" type="submit" expand="block" [disabled]="!resetForm.valid">Confirmar Cambio</ion-button>
  </form>
</ion-content>
